  <div id="mySidenav" class="sidenav">
  <a href="javascript:void(0)" class="closebtn" id="closenav">&times;</a>

  <a id="addwinerysidenav" href="#">Add Winery</a>
  <a id="showwinerysidenav" href="#">Show Wineries</a>
  <a href="#">Clients</a>
  <a href="#">Contact</a>
</div>


  
  
  
  <nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/logout">
        Logout
      </a>
      <span><Menu id="opennav" class="navbar-brand">Menu</Menu></span>
    </div>
    
  </div>
</nav>


  <div class="container" id="main">
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <h2>Welcome Vendor <span class="member-name"></span></h2>
        <h2>Welcome Vendor <span class="memberid"></span></h2>
        <h3 id="currentday"></h3>
      </div>
    </div>

    <div class="container mt-3">
      <div class="row">
        <div class="col-12">

        {{!-- Display all wineries block --}}
          
          <div id="winerydisplay">
            <h3>Current Wineries</h3>
            <div id="wineries"></div>
            <h3>Non-Current Wineries</h3>
            <div id="uncurrent"></div>
          </div>
          

        {{!-- Individual winery block --}}
          <div id="winerydetail">
            <h2>Welcome Winery <span class="winery-name"></span></h2>
            <form class="addsession">
            <div class="form-group">
                <label class="control-label" for="eventname">Event Name</label>
                <input type="text" class="form-control" name="eventname" id="eventname" placeholder="Event's Name">
                <label class="control-label" for="eventdate">Date</label>
                <input type="date" class="form-control" name="eventdate" id="eventdate" placeholder="DD/MM/YYYY">
                <label class="control-label" for="eventtime">Time</label>
                <input type="time" class="form-control" name="eventtime" id="eventtime" placeholder="hh:mm">
                <label class="control-label" for="eventcapacity">Capacity</label>
                <input type="number" class="form-control" name="eventcapacity" id="eventcapacity" placeholder="Capacity">
              </div>         

            <button type="submit" class="btn btn-primary">Add Event</button>                    
            </form>
            <h2 class="mt-3">Event</h2>
            <table class="table">
           <thread class="thread-dark">
           <tr>
           <th scope="col">Event Name</th>
           <th scope="col">Date</th>
           <th scope="col">Time</th>
           <th scope="col">Capacity</th>
           </tr>
           </thread>
           <tbody id="event">
             
           </tbody>
          
           </table>
            {{!-- <div id="event"></div>             --}}
          </div>


        {{!-- Add wineries block --}}
        <form class="addwinery" id="addwineryform">
          <div class="form-group">
            <label for="exampleInputWinery">Winery name</label>
            <input type="wineryname" class="form-control" id="wineryname-input" placeholder="Winery name">
          </div>          
          <div class="form-group">
            <label for="exampleInputWineryAddress">Address</label>
            <input type="wineaddress" class="form-control" id="wineaddress-input" placeholder="Address">
          </div>
          <div class="form-group">
            <label for="exampleInpupostcode">Postcode</label>
            <input type="winepostcode" class="form-control" id="winepostcode-input" placeholder="Postcode">
          </div>
          <div class="form-group">
            <label for="exampleInputPhone">Phone</label>
            <input type="winephone" class="form-control" id="winephone-input" placeholder="Phone">
          </div>
          <div class="form-group">
            <label for="exampleInputEmail">Email</label>
            <input type="wineemail" class="form-control" id="wineemail-input" placeholder="Email">
          </div>
          <button type="submit" class="btn btn-primary">Add Winery</button>                    
        </form>
        

        </div>

      </div>

    </div>



    </div>
  </div>
  <script type="text/javascript" src="js/vendor.js"></script>